
  <style>
nav {
  background-color: #0f2b3f;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  padding: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #f8f8f8;
}

nav a.active {
  color: #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
}

nav li.right {
  margin-left: auto;
}


  </style>
  <body>
    <nav>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          
          <li class="center"><a href="#">WELCOME TO CRS APPLICATION</a></li>
        </ul>
        <span></span>
      </nav>

  </body>